body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: #fff
}
.badge1 {
    display: inline-block;
    padding: .25em .4em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.table1 {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent
}
.table1 td,
.table1 th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}
.table1 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table1 tbody+tbody {
    border-top: 2px solid #dee2e6
}
.content-header {
    padding: 15px .5rem;
}

.text-sm .content-header {
    padding: 10px .5rem
}

.content-header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.text-sm .content-header h1 {
    font-size: 1.5rem
}

.content-header .breadcrumb {
    background-color: transparent;
    line-height: 1.8rem;
    margin-bottom: 0;
    padding: 0
}
.mb-01{
margin-top:-0.01rem !important;
}
.text-sm .content-header .breadcrumb {
    line-height: 1.5rem
}
.btn.btn-block.btn-outline-warning:hover i.fa-pen {
    color: white !important;
}
.btn.btn-block.btn-outline-primary:hover i.fa-pen {
    color: white !important;
}
.btn.btn-block.btn-outline-secondary{
width: 42px;
height:38px;
color:#fff;
}
.a .btn .btn-block .btn-outline-primary .mb-01{
width: 42px;
height:38px;
 color:#fff;
}
.btn .btn-block .btn-outline-primary .mb-01{
    width: 42px;
    height:38px;
     color:#fff;
    }
.btn.btn-block.btn-outline-primary i.fa-pen {
color:#007bff;
}
.btn.btn-block.btn-outline-secondary i.fa-eye {
    color:#6c757d
}
.btn.btn-block.btn-outline-secondary:hover i.fa-eye {
    color: white !important;
}
.btn.btn-block.btn-outline-warning:hover i.fa-eye {
    color: white !important;
}
.btn.btn-block.btn-outline-danger:hover i.fa-trash {
    color: white !important;
}
.btn .btn-block.btn-outline-primary:hover i.fa-pen{
    color: white !important;
}
.btn-outline-danger {
    border-color: transparent;
    width: 42px;
    height: 38px;
}
.btn-outline-danger:hover {

    border-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
    border-color: transparent;
}
.btn-outline-primary {
    border-color:transparent;
    width: 42px;
    height: 38px;
}
.btn-outline-primary:hover {
    border-color:transparent;
}
.btn-outline-secondary {
    border-color: transparent;
}

.btn-outline-secondary:hover {
    border-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    border-color: transparent;
}

/* Menggunakan display: flex hanya untuk bagian 'Action' */
#proyeksTable td:last-child {
    display: flex;
}
.badge-warning {
    color: #324050;
    background-color: #f5e04b;
}
.badge-danger {
    color: #fff;
    background-color: #fb4759;
}

.badge-success {
    color: #fff;
    background-color: #43b15c;
}

.badge-primary {
    color: #fff;
    background-color: #429bfb;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: border-color 0.3s ease; /* Efek transisi saat berubah */
}

.nav-tabs .nav-link:hover {
    background-color: rgb(226, 236, 247); /* Warna border saat dihover */
}
